.card {
  box-sizing: border-box;
  text-align: justify;
}
.card-container {
  padding: 2px 16px;
  color: $milk;
}

.card-container p {
  font-size: 6px;
}

img.icon {
  padding: 17px 27px;
}

div .card.col-3 {
  align-items: baseline;
}

@media (min-width: 575.98px) {
  .card-container p {
    font-size: 6px;
  }

  img.icon {
    padding: 15px 25px;
  }
}

@media (min-width: 767.98px) {
  .card-container p {
    font-size: 8px;
  }

  img.icon {
    padding: 13px 23px;
  }
}

@media (min-width: 991.98px) {
  .card-container p {
    font-size: 10px;
  }

  img.icon {
    padding: 20px 25px;
  }
}
