// Наш грид на flexbox
// Количество колонок
$column: 12;

.grid {
  display: flex;
  align-content: space-around;

  [class*="col-"] {
    padding: 10px 15px;
  }
}

.col-3 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  color: $milk;
  width: 100%;
}

.grid {
  p {
    text-align: left;
    padding: 10px;
  }
}

@for $i from 1 through $column {
  .col-#{$i} {
    width: 100% / $column * $i;
  }
}

@include media(">=phone", "<tablet") {
  @for $i from 1 through $column {
    .col-sm-#{$i} {
      width: 100% / $column * $i;
    }
  }
}

@include media(">=tablet", "<desktop") {
  @for $i from 1 through $column {
    .col-md-#{$i} {
      width: 100% / $column * $i;
    }
  }
}

@include media(">=desktop") {
  @for $i from 1 through $column {
    .col-lg-#{$i} {
      width: 100% / $column * $i;
    }
  }
}
